## Q1) 1873. Calculate Special Bonus


```# Write your MySQL query statement below
SELECT employee_id , 
CASE WHEN employee_id % 2 != 0 
and LEFT(name,1) != 'M'
THEN salary 
    ELSE 0 END AS bonus
FROM Employees
ORDER BY employee_id```

## Q2) 627. Swap Salary

```
UPDATE Salary
SET sex = CASE WHEN sex = 'f' THEN 'm' ELSE 'f' end 
where sex in ('f','m')```

## Q3) 196. Delete Duplicate Emails

```DELETE FROM Person WHERE 
id in (
SELECT DISTINCT  id 
FROM (
SELECT id , DENSE_RANK() OVER(PARTITION BY email ORDER BY id ASC) as r 
FROM Person ) as email_r 
WHERE r > 1 )```